<div class="card text-center">
  <div class="card-body">
    <h2 class="card-title">會員基本資料</h2>
    <section class="vh-80">
      <div class="container py-6">
        <div class="d-flex align-items-center justify-content-center">
          <div class="col-10 col-md-8 col-lg-6 col-xl-5 user_register_form">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name) ,method: "POST") do |f| %>
              <div class="mb-4">
                <div>
                  <label class="form-label">您的姓名 (選填)</label>
                </div>
                <div>
                  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
                </div>
              </div>
              <div class="field mb-4" >
                <div>
                  <label class="form-label">網路帳號信箱 (必填)</label>
                </div>
                <div>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
              </div>
              <div class="field mb-4">
                <div>
                  <label class="form-label">密碼</label>
                  <% if @minimum_password_length %>
                    <em class="fst-normal">(至少要有 <%= @minimum_password_length %> 個字元)</em>
                  <% end %><br />
                </div>
                <div>
                  <%= f.password_field :password, autocomplete: "new-password"%>
                </div>
              </div>
              <div class="field mb-4">
                <div>
                  <label class="form-label">確認密碼</label>
                </div>
                <div>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
              </div>
              <section>
                <div class="container text-center p-4">
                  <div class="row align-items-center">
                    <div class="col" >
                      <button type="button" class="btn btn-secondary btn-lg mx-3" 
                              data-action="click->user-register#registerBack">上一步</button>
                      <button type="button">
                        <%= f.submit("註冊", class: "btn btn-primary btn-lg mx-3 px-4")%>
                      </button>
                    </div>
                  </div>
                </div>
              </section>
              <div>
                <%= link_to "<i class=\"fa-brands fa-facebook text-primary \"></i> Facebook註冊".html_safe, user_facebook_omniauth_authorize_path, method: :post, class: "btn btn-outline-dark"  %>
                <%= link_to "<i class=\"fa-brands fa-google\"></i> Google註冊".html_safe, user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn btn-outline-dark" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">註冊進度: 3/3</div>
    </div>
  </div>
