  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item"><%= link_to "首頁" , root_path %></li>
      <li class="breadcrumb-item"><%= link_to "會員專區" , "#" %></li>
      <li class="breadcrumb-item active" aria-current="page">註冊會員</li>
    </ol>
  </nav>


<%# <%= render "member_benefits" %>
<%# <%= render "member_terms" %>
<%= render "member_register" %>
