<div class="d-flex row">
  <div class="col-12 col-lg-7 poster mb-3">
    <% if @movie.movie_poster.persisted?  %>
      <%= image_tag @movie.movie_poster, class: "m-auto w-100" %>
    <% end %>
  </div>
  <div class="col-12 col-lg-5">
    <ul class="list-group pb-3">
      <li class="list-group-item ps-0 pt-0 fs-3 title">
        <h2><%= @movie.name %></h2>
      </li>
      <li class="list-group-item ps-0 pt-0 fs-3 title text-info">
        <h2><%= @movie.eng_name %></h2>
      </li>
      <li class="list-group-item ps-0 pt-0 title">
        級別：
        <h2><%= Movie.human_attribute_name("film_rating.#{@movie.film_rating}") %></h2>
      </li>
      <li class="list-group-item ps-0 pt-0 title">
        上映日期：
        <h2><%= @movie.debut_date %></h2>
      </li>
    </ul>
    <ul class="list-group">
      <h3 class="text-secondary">MOVIE INFO</h3>
      <li>導演：<%= @movie.director %></li>
      <li>主演：<%= @movie.actor %></li>
      <li>時長：<%= @movie.duration %></li>
    </ul>
  </div>
</div>
