<div class="front-breadcrumb bg-Silver">
  <nav class="container px-lg-4p" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "首頁", root_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item active text-deepskyblue" aria-current="page">電影</li>
    </ol>
  </nav>
</div>
<section class="container px-lg-4p">
  <h1 class="text-deepskyblue text-center text-md-start">熱售中</h1>
  <div class="movie-list">
    <div class="d-flex flex-wrap">
      <% @movies.each do |movie| %>
        <%= link_to movie_path(movie), class: "card p-4 col-12 col-md-4 col-lg-3" do%>
          <% if movie.movie_poster.attached? %>
            <div class="pic">
              <%= image_tag movie.movie_poster, class: "w-100" %>
            </div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= movie.name %></h5>
            <p class="card-text"><%= movie.debut_date %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<section class="text-center py-3">
  <%= will_paginate @movies, class: "d-flex gap-3 justify-content-center"%>
  <%= link_to "回首頁", root_path, class: "btn btn-LightCerulean btn-lg " %>
</section>
