<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="https://www.vscinemas.com.tw/vsweb/upload/homepage/homepage_20221110004.jpg"
           class="d-block w-100 mh-100 ">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://www.vscinemas.com.tw/vsweb/upload/homepage/homepage_20221021004.jpg"
           class="d-block w-100 mh-100 ">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://www.vscinemas.com.tw/vsweb/upload/homepage/homepage_20221202002.jpg"
           class="d-block w-100 mh-100 ">
    </div>
  </div>
  <button class="carousel-control-prev"
          type="button"
          data-bs-target="#carousel"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next"
          type="button"
          data-bs-target="#carousel"
          data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<article class="d-md-flex container-xl p-0">
  <div class="container-md d-flex col-12 col-md-7 px-md-auto py-3 px-sm-5p px-md-4 mx-0 
              justify-content-center search" >
    <div class="qalist d-none d-lg-block col-lg-3 ">
      <ul class="bg-secondary mt-4 p-0">
        <li class="bg-darkgray ps-4 py-2 border-bottom text-white">線上訂票</li>
        <li class="bg-darkgray ps-4 py-2 border-bottom text-white">售票公告</li>
        <li class="bg-darkgray ps-4 py-2 border-bottom text-white">入場須知</li>
        <li class="bg-darkgray ps-4 py-2 border-bottom text-white">場次查詢</li>
      </ul>
    </div>
    <div class="container col-12 col-lg-9 mx-md-0 px-4 bg-cerulean rounded-4 body" data-controller="index-search-form">
      <div class="container search-top d-flex text-light justify-content-around">
        <button class="py-2 btn btn-cerulean py-3"  disabled= "disabled"
                data-index-search-form-target="ticketBtn"
                data-action="click->index-search-form#formSwitch"><span class="fs-4 fs-scale">快速訂票</span>
        </button>
        <button class="py-2 btn btn-cerulean py-3"  
                data-index-search-form-target="setBtn"
                data-action="click->index-search-form#formSwitch"><span class="fs-4">快搜場次</span>
        </button>
      </div>
      <div class="search-middle py-3" >
        <div class="item d-grid gap-2 " data-index-search-form-target="ticketForm" data-controller="search-showtime">
          <div class="d-flex justify-content-around align-items-center">
            <div class="icon"><i class="m-0 fa-solid fa-location-dot  text-white"></i></div>
            <select class="form-select w-90" 
                    aria-label="select" 
                    data-action="change->search-showtime#addTheaterList">
              <option>請選擇電影</option>
              <% @movies.each do |movie| %>
                <option value="<%= movie.id %>" ><%= movie.name %></option>
              <% end %>
            </select>
          </div>
          <div class="d-flex justify-content-around align-items-center">
            <div class="icon"><i class="m-0 fa-solid fa-video  text-white"></i></div>
            <select class="form-select w-90" 
                    aria-label="select" 
                    data-action="change->search-showtime#addShowtimeDate" 
              data-search-showtime-target="theaterList">
              <option>請選擇影城</option>
            </select>
          </div>
          <div class="d-flex justify-content-around align-items-center">
            <div class="icon"><i class="m-0 fa-regular fa-calendar-days text-white"></i></div>
            <select class="form-select w-90" 
                    aria-label="select" 
                    data-search-showtime-target="showtimeDate"
                    data-action="change->search-showtime#addShowtime">
              <option value="0">請選擇日期</option>
            </select>
          </div>
          <div class="d-flex justify-content-around align-items-center">
            <div class="icon"><i class="m-0 fa-regular fa-clock text-white"></i></div>
            <select class="form-select w-90" 
                    aria-label="select" 
                    data-search-showtime-target="showtime"
                    data-action="change->search-showtime#changeLink">
              <option value="0">請選擇場次</option>
            </select>
          </div>
          <div class="container search-bottom d-flex text-light justify-content-around pb-3">
            <span class="my-2 py-1 px-4 bg-primary3"
                  data-action="click->search-showtime#checkBookingData">
              <%= link_to "前往訂票", "#", class: "btn btn-deepskyblue btn-lg", id: "rootBuyTickets" %>
            </span>
          </div>
        </div>
        <div class="item d-grid gap-2 item-hidden" data-index-search-form-target="setForm" data-controller="search-showtime-by-area">
          <div class="d-flex justify-content-around align-items-center">
            <div class="icon"><i class="m-0 fa-solid fa-location-dot  text-white"></i></div>
            <select class="form-select w-90" 
                    aria-label="select" 
                    data-action="change->search-showtime-by-area#addMovieList"
                    data-search-showtime-by-area-target="area">
              <option>請選擇地區</option>
              <% @theater_areas.each do |theater_area| %>
                <option value="<%= theater_area[1] %>" ><%= theater_area[0] %></option>
              <% end %>
            </select>
          </div>
          <div class="d-flex justify-content-around align-items-center">
            <div class="icon"><i class="m-0 fa-solid fa-video  text-white"></i></div>
            <select class="form-select w-90" 
                    aria-label="select"
                    data-search-showtime-by-area-target="movieList"
                    data-action="change->search-showtime-by-area#addShowtimeList">
              <option>請選擇電影</option>
            </select>
          </div>
          <div class="d-flex">
            <div class="d-flex justify-content-around align-items-center col">
              <div class="icon"><i class="m-0 fa-regular fa-calendar-days text-white"></i></div>
              <select class="form-select w-90 col" 
                      aria-label="select"
                      data-search-showtime-by-area-target="showtimeList"
                      data-action="change->search-showtime-by-area#addTimeSelect">
                <option>請選擇日期</option>
              </select>
            </div>
          </div>
          <div class="d-flex">
            <div class="d-flex justify-content-around align-items-center col">
              <div class="icon"><i class="m-0 fa-solid fa-location-dot  text-white"></i></div>
              <select class="form-select w-90 col" 
                      aria-label="select"
                      data-search-showtime-by-area-target="startTime">
                <option value="0">時段(起)</option>
              </select>
            </div>
            <div class="d-flex justify-content-around align-items-center col">
              <div class="icon"><i class="m-0 fa-solid fa-location-dot  text-white"></i></div>
              <select class="form-select w-90 col" 
                      aria-label="select"
                      data-search-showtime-by-area-target="endTime"
                      data-action="change->search-showtime-by-area#changeLink">
                <option value="0">時段(迄)</option>
              </select>
            </div>
          </div>
          <div class="container search-bottom d-flex text-light justify-content-around pb-3">
            <span class="my-2 py-1 px-4 bg-primary3" 
                  data-action="click->search-showtime-by-area#checkAreaData">
              <%= link_to "查詢場次", "#", class: "btn btn-deepskyblue btn-lg", id: "rootSearchShowtime" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex col-12 col-md-5 py-3 col-lg-5  flex-column new">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb align-items-baseline m-0 ">
        <li class="breadcrumb-item">
          <p class="fs-4 text-deepskyblue" >最新公告</p>
        </li>
        <li class="breadcrumb-item active text-dark" aria-current="page">
          <%= link_to "MORE", news_index_path, class: "link-dark"%></li>
      </ol>
    </nav>
    <ul class="list-group gap-1 flex-grow-1">
      <% @news.each do |news| %>
        <li class="list-group-item ps-0">
          <span class="new-date bg-deepskyblue text-light p-1 me-3">
            <%= news.created_at.strftime("%Y/%m/%d") %></span>
          <%= link_to news.title, news_path(news), class: "new-text" %>
        </li>
      <% end %>
    </ul>
  </div>
</article>
<footer class="bg-cerulean text-center py-4">Lorem ipsum dolor sit </footer>
