<div class="w-100 bg-Silver">
  <nav
  style="--bs-breadcrumb-divider: '>'"
    aria-label="breadcrumb"
    class="front-breadcrumb w-75 m-auto"
    >
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= root_path %>">首頁</a></li>
      <li class="breadcrumb-item"><a href="<%= movies_path %>">電影列表</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @movie.name %>
      </li>
    </ol>
  </nav>
</div>
<!-- 電影資訊 -->
<div class="container w-75 py-5">
  <section class="row gap-5 gap-lg-0">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <%= render "movie_info" %>
    </div>
    <div class="col-12 col-md-10 col-lg-4 mx-auto">
      <%= render "showtime_table" %>
    </div>
  </section>
</div>
<!-- 預告片 -->
<% if @movie.youtube_iframe.present? %>
  <div class="bg-darkgray">
    <section class="container w-75 py-5">
      <div class="py-2">
        <h2 class="text-white">精彩預告</h2>
      </div>
      <iframe
      class="w-100"
      height="500"
      src="<%= @movie.youtube_iframe %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    </section>
  </div>
<% end %>
<div class="container w-75 py-5">
  <section>
    <div class="d-flex text-center align-items-end mb-3">
      <h2 class="text-info mb-0">電影簡介</h2>
      <p class="mb-0">/ABOUT THE STORY</p>
    </div>
    <%= @movie.description %>
    <article></article>
  </section>
  <section class="text-center">
    <span class="my-2 py-1 px-4">
      <%= link_to "回電影列表", movies_path, class: "btn btn-cerulean-confirm btn-lg " %>
    </span>
  </section>
</div>
