<div class="w-100 bg-Silver">
  <nav class="front-breadcrumb container px-lg-4p" style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-deepskyblue" href="<%= root_path %>">首頁</a></li>
      <li class="breadcrumb-item"><a class="text-deepskyblue" href="<%= movies_path %>">電影列表</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= @movie.name %>
      </li>
    </ol>
  </nav>
</div>
<!-- 電影資訊 -->
<div class="container px-lg-4p py-5">
  <section class="row gap-5 gap-xl-0">
    <div class="col-12 col-xl-8 mx-auto">
      <%= render "movie_info" %>
    </div>
    <div class="col-12 col-xl-4 mx-auto">
      <% if @cinema_list.present? %>
        <%= render "showtime_table" %>
      <% else %>
        <h2>目前尚無場次</h2>
      <% end %>
    </div>
  </section>
</div>
<!-- 預告片 -->
<% if @movie.youtube_iframe.present? %>
  <div class="bg-darkgray">
    <section class="container container px-lg-4p">
      <div class="py-2">
        <h2 class="text-white">精彩預告</h2>
      </div>
      <iframe
      class="w-100 pb-4"
      height="500"
      src="<%= @movie.youtube_iframe %>"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    </section>
  </div>
<% end %>
<div class="container container px-lg-4p">
  <section>
    <div class="d-flex text-center align-items-end mb-3 mt-3">
      <h2 class="text-info mb-0">電影簡介</h2>
      <p class="mb-0">/ABOUT THE STORY</p>
    </div>
    <%= @movie.description %>
    <article></article>
  </section>
  <section class="text-center py-3">
    <%= link_to "回電影列表", movies_path, class: "btn btn-LightCerulean btn-lg" %>
  </section>
</div>
