<div data-controller="add-cinema-list" class="new_showtime text-light bg-slategray p-3 rounded">
  <%= form_with(model: @showtime, url: admin_movie_showtimes_path(@movie), method: "post", local: false) do |form| %>
    <div class="d-flex">
      <div class="col-11 d-flex">
        <div class="col-3 d-flex align-items-center">
          <div class="fs-5 text-nowrap m-1">開始時間</div>
          <input class="form-control p-1 w-75" type="datetime-local" name="showtime[started_at]" min="<%= Time.now.strftime("%Y-%m-%dT%H:%M") %>">
        </div>
        <div class="col-3 d-flex align-items-center">
          <div class="fs-5 text-nowrap m-1">結束時間</div>
          <input class="form-control p-1 w-75" type="datetime-local" name="showtime[end_at]" min="<%= Time.now.strftime("%Y-%m-%dT%H:%M") %>">
        </div>
        <div class="col-3 d-flex align-items-center" data-action="change->add-cinema-list#addCinemaList">
          <div class="fs-5 text-nowrap m-1">上映戲院</div>
          <select class="form-control p-1 w-75"  data-add-cinema-list-target="theater">
            <option>請選擇戲院</option>
            <% @theaters.each do |theater| %>
              <option value="<%= theater[1] %>" ><%= theater[0] %></option>
            <% end %>
          </select>
        </div>
        <div class="col-3 d-flex align-items-center">
          <div class="fs-5 text-nowrap m-1">選擇影廳</div>
          <select class="form-control p-1 w-75" name="showtime[cinema_id]" data-add-cinema-list-target="cinemaList">
            <option>請選擇影廳</option>
          </select>
        </div>
      </div>
      <div class="col-1 d-flex justify-content-center">
        <%= form.submit "新增場次", class:"btn btn-outline-light", data:{confirm:"確認新增？"} %>
      </div>
    </div>
  <% end %>
</div>