<tr id="<%= dom_id(showtime) %>">
  <td><%= showtime.cinema.theater.name %></td>
  <td><%= showtime.cinema.name %></td>
  <td><%= showtime.started_at %></td>
  <td><%= showtime.end_at %></td>
  <td><%= link_to "刪除", admin_movie_showtime_path(@movie.id, showtime), method: "delete", data: {confirm: "確定刪除場次？", remote: true} %></td>
</tr>
