<%= flash[:notice] %>
<h1>新增場次</h1>

<%= form_with(model: @showtime, url: admin_movie_showtimes_path, method: "post") do |form| %>
  <div>
    <%= form.label :"開始時間" %>
    <input type="datetime-local" name="showtime[started_at]" min="<%= Time.now.strftime("%Y-%m-%dT%H:%M") %>">
    <br>
  </div>
  <div>
    <%= form.label :"結束時間" %>
    <input type="datetime-local" name="showtime[end_at]">
    <br>
  </div>
  <%= form.submit "送出" %>

<% end %>

