<%= render "shared/nav" %>
<div class="item d-grid gap-2 item-hidden" data-controller="search-showtime-by-area">
  <div class="d-flex justify-content-around align-items-center">
    <div class="icon"><i class="m-0 fa-solid fa-location-dot  text-white"></i></div>
    <select class="form-select w-90" 
                    aria-label="select" 
                    data-action="change->search-showtime-by-area#addMovieList"
      data-search-showtime-by-area-target="area">
      <option>請選擇地區</option>
      <% @theater_areas.each do |theater_area| %>
        <option value="<%= theater_area[1] %>" ><%= theater_area[0] %></option>
      <% end %>
    </select>
  </div>
  <div class="d-flex justify-content-around align-items-center">
    <div class="icon"><i class="m-0 fa-solid fa-video  text-white"></i></div>
    <select class="form-select w-90" 
                    aria-label="select"
                    data-search-showtime-by-area-target="movieList"
                    data-action="change->search-showtime-by-area#addShowtimeList">
      <option>請選擇電影</option>
    </select>
  </div>
  <div class="d-flex">
    <div class="d-flex justify-content-around align-items-center col">
      <div class="icon"><i class="m-0 fa-regular fa-calendar-days text-white"></i></div>
      <select class="form-select w-90 col" 
                      aria-label="select"
                      data-search-showtime-by-area-target="showtimeList"
                      data-action="change->search-showtime-by-area#addTimeSelect">
        <option>請選擇日期</option>
      </select>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex justify-content-around align-items-center col">
      <div class="icon"><i class="m-0 fa-solid fa-location-dot  text-white"></i></div>
      <select class="form-select w-90 col" 
                      aria-label="select"
                      data-search-showtime-by-area-target="startTime">
        <option value="0">時段(起)</option>
      </select>
    </div>
    <div class="d-flex justify-content-around align-items-center col">
      <div class="icon"><i class="m-0 fa-solid fa-location-dot  text-white"></i></div>
      <select class="form-select w-90 col" 
                      aria-label="select"
                      data-search-showtime-by-area-target="endTime"
                      data-action="change->search-showtime-by-area#changeLink">
        <option value="0">時段(迄)</option>
      </select>
    </div>
  </div>
  <div class="container search-bottom d-flex text-light justify-content-around pb-3">
    <span class="my-2 py-1 px-4 bg-primary3"
          data-action="click->search-showtime-by-area#checkAreaData">
      <%= link_to "查詢場次", "#", class: "btn btn-deepskyblue btn-lg", id: "rootSearchShowtime"%>
    </span>
  </div>
</div>
=======
<% if (@movie.present? && @showtimes.present?) %>
  <%= @movie.name %>
  <% @showtimes.each do |showtime| %>
    <div>
      廳:<%= showtime.cinema.name %>
      開始日期:<%= showtime.started_at.strftime("%Y-%m-%d") %>
      開始時間：<%= showtime.started_at.strftime("%I:%M %p") %>
    </div>
  <% end %>
<% else %>
  <h3>查無場次</h3>
<% end %>
