<div class="front-breadcrumb bg-Silver">
  <nav class="container px-lg-4p" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "首頁", root_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item"><%= link_to "公告列表", news_index_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item active text-deepskyblue" aria-current="page"><%= @news.title %></li>
    </ol>
  </nav>
</div>
<div class="container px-lg-4p news-show">
  <div class="">
    <%= @news.created_at.strftime("%Y/%m/%d") %>
  </div>
  <div class="fs-2">
    <%= @news.title %>
  </div>
  <div class="">
    <%= @news.rich_text_description %>
  </div>
  <div>
    <%= link_to "回上一頁", request.referrer %>
  </div>
</div>
