<div class="front-breadcrumb bg-Silver">
  <nav class="container px-lg-4p" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "首頁", root_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item"><%= link_to "公告列表", news_index_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item active text-deepskyblue" aria-current="page"><%= @news.title %></li>
    </ol>
  </nav>
</div>
<div class="container px-lg-4p news-show">
  <div class="text-darkgray">
    <%= @news.created_at.strftime("%Y/%m/%d") %>
  </div>
  <div class="fs-2 text-cerulean">
    <h2><%= @news.title %></h2>
  </div>
  <article class="my-3">
    <%= @news.rich_text_description %>
  </article>
  <section class="text-center py-3">
    <%= link_to "回消息列表", news_index_path, class: "btn btn-LightCerulean btn-lg" %>
  </section>
</div>
