<%= form_with model: [:admin, @movie] do |f| %>
  <div class="input-group mb-3">
    <span class="input-group-text">電影名稱</span>
    <%= f.text_field :name %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">電影英文名稱</span>
    <%= f.text_field :eng_name %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">時長</span>
    <%= f.number_field :duration %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">級數</span>
    <%= f.select :film_rating, options_for_select((Movie.film_ratings.keys), @movie.film_rating) %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">導演</span>
    <%= f.text_field :director %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">主演</span>
    <%= f.text_field :actor %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">上映日期</span>
    <%= f.date_select :debut_date, start_year: Date.today.year   %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">簡介</span>
    <%= f.text_area :description %>
  </div>
  <div class="input-group mb-3">
    <%= f.file_field :movie_poster %>
  </div>
  <div>
    <div>
      <% @theaters.each do |theater| %>
        <%= check_box_tag "theater[]", theater.id %>
        <%= label_tag(:theater_id, theater.name) %>
      <% end %>
    </div>
  </div>
  <div class="input-group mb-3">
    <%= f.submit %>
  </div>
<% end %>
