<%= form_with model: [:admin, @movie] do |f| %>
  <div class="input-group mb-3">
    <%= f.label :name, "電影名稱", class: "input-group-text" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= f.label :eng_name, "電影英文名稱", class: "input-group-text" %>
    <%= f.text_field :eng_name, class: "form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= f.label :duration, "時長", class: "input-group-text" %>
    <%= f.number_field :duration, class: "form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= f.label :film_rating, "級數", class: "input-group-text" %>
    <%= f.select :film_rating, options_for_select(human_attribute_film_ratings, @movie.film_rating), {}, class: "form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= f.label :director, "導演", class: "input-group-text" %>
    <%= f.text_field :director, class: "form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= f.label :actor, "主演", class: "input-group-text" %>
    <%= f.text_field :actor, class: "form-control" %>
  </div>
  <div class="input-group mb-3">
    <%= f.label :debut_date, "上映日期", class: "input-group-text" %>
    <%= f.date_select :debut_date, start_year: Date.today.year, class: "form-control" %>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">預告片嵌入網址</span>
    <%= f.text_field :youtube_iframe, class: "form-control" %>
  </div>
  <div class="mb-3">
    <span class="input-group-text w-100">簡介</span>
    <%= f.rich_text_area :description, class: "w-100" %>
  </div>
  <div class="my-3 d-flex">
    <%= f.file_field :movie_poster, class:"input-group-text w-100" %>
  </div>
  <div class="d-block align-items-center">
    <span class="input-group-text">上映戲院</span>
    <% @theaters.each do |theater| %>
      <%= check_box_tag "theater[]", theater.id %>
      <%= label_tag(:theater_id, theater.name) %>
    <% end %>
  </div>
  <div class="input-group my-3">
    <%= f.submit "新增電影", class: "btn btn-primary" %>
  </div>
<% end %>
