<div class="continer flex-fill">
  <div class="d-flex">
    <div class="main flex-grow-1 ms-1">
      <div class="container container-breadcrumb ">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "後台首頁",movies_path %></li>
            <li class="breadcrumb-item active"><%= link_to "電影列表",admin_movies_path %></li>
            <li class="breadcrumb-item active" aria-current="page">電影編輯</li>
          </ol>
        </nav>
      </div>
      <%= form_with model: [:admin, @movie] do |f| %>
        <div class="container">
          <div class="edit container d-flex p-0">
            <div class="movie_posters">
              <% if @movie.movie_poster.attached? %>
                <div>
                  <%= image_tag  @movie.movie_poster ,width:"350", height: "500" %>
                  <%= link_to "刪除圖片", delete_images_admin_movie_path(@movie.movie_poster.id),
                    method: "DELETE", class: "d-block", data: {confirm: "Are you sure?"} %>
                </div>
              <% else %>
                <%= f.label "上傳海報圖", for: "movie_movie_poster" %>
                <%= f.file_field :movie_poster, class: "d-none" %>
              <% end %>
            </div>
            <div class="input flex-grow-1 d-flex flex-column justify-content-aroun p-3">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">電影名稱</span>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">電影英文名稱</span>
                <%= f.text_field :eng_name, class: "form-control" %>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">時長</span>
                <%= f.number_field :duration, class: "form-control" %>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">級數</span>
                <%= f.select :film_rating, options_for_select(human_attribute_film_ratings, 
                @movie.film_rating),{}, {class: "form-select" }%>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">導演</span>
                <%= f.text_field :director, class: "form-control" %>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">主演</span>
                <%= f.text_field :actor, class: "form-control" %>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">上映日期</span>
                <%= f.date_select :debut_date , {discard_year: true}, {class: "form-select"} %>
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">預告片嵌入網址</span>
                <%= f.text_field :youtube_iframe, {class: "form-control"} %>
              </div>
            </div>
          </div>
          <div data-controller="edit">
            <span class="input-group-text">簡介</span>
            <%= f.rich_text_area :description %>
            <div class="input-group my-3">
              <%= f.submit "更新電影資訊", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <%= render "come_out_theater" %>
      </div>
    </div>
  </div>
