<div class="main flex-grow-1 p-0 ms-1">
  <div class="container container-breadcrumb ">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "後台首頁",admin_movies_path %></li>
        <li class="breadcrumb-item active" aria-current="page">電影列表</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <%= link_to "新增電影",new_admin_movie_path ,class: "btn btn-primary" %>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">電影名稱</th>
          <th scope="col">電影編輯</th>
          <th scope="col">電影刪除</th>
          <th scope="col">場次列表</th>
          <th scope="col">上映時間</th>
          <th scope="col">建立者</th>
          <th scope="col">編輯時間</th>
        </tr>
      </thead>
      <% @movies.each do |movie| %>
        <tbody>
          <tr>
            <td><%= movie.name %></td>
            <td><%= link_to "編輯", edit_admin_movie_path(movie) %></td>
            <td><%= link_to "刪除", admin_movie_path(movie), method:"delete", data:{confirm:"確定刪除？"}  %></td>
            <td><%= link_to "檢視", admin_movie_showtimes_path(movie) %></td>
            <td><%= movie.debut_date %></td>
            <td><%= movie.user.name %></td>
            <td><%= movie.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
