<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "首頁", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "會員專區", "#" %></li>
    <li class="breadcrumb-item active" aria-current="page">訂票查詢</li>
  </ol>
</nav>
<div class="container text-center">
  <div class="row d-flex justify-content-evenly">
    <div class="col-12 col-md-7 col-lg-8">
      <div class="container p-3">
        <div class="col text-start">
          <h2>訂票信箱 <%= current_user.email %></h2>
          <p class="fw-lighter">
            若購票失敗您的付款授權稍後將被取消不會收取任何費用，可於 30
            分後重新確認。
          </p>
        </div>
        <div class="col">
          <div class="container text-center">
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr class="table-secondary">
                    <th scope="col" class="col-2 col-md-3">訂購時間</th>
                    <th scope="col" class="col-7 col-md-6">訂購內容</th>
                    <th scope="col" class="col-2 col-md-3"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.each do |order| %>
                    <tr>
                      <td>
                        <p><%= order.created_at.strftime("%Y/%m/%d %I:%M") %></p>
                        <div
                          data-controller="order-cancelbtn"
                          data-id="<%= order.id %>"
                          data-canceled="<%= order.status %>">
                          <p data-order-cancelbtn-target="orderStatus">
                            <%= order.status %>
                          </p>
                          <button
                            method="patch"
                            class="btn btn-secondary btn-md mx-2"
                            data-order-cancelbtn-target="cancelBtn"
                            data-action="click->order-cancelbtn#cancel"
                            data-confirm="Are you sure？">
                            取消訂單
                          </button>
                        </div>
                      </td>
                      <td class="text-start mx-3">
                        <p>取票序號: <%= order.serial %></p>
                        <p>電影名稱：</p>
                        <p>影城：</p>
                        <p>場次： 2022-11-20 16:25</p>
                        <div class="d-flex justify-content-between">
                          <p>總計金額: <%= order.amount %></p>
                        </div>
                      </td>
                      <td>
                        <%= link_to "查看訂單", order_path(order), {class:"btn
                      btn-secondary btn-md" } %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= will_paginate @orders %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 col-lg-4">
      <%= render "member_card" %>
    </div>
  </div>
</div>
<!-- 連結購物車後刪除 -->
訂票紀錄 <%= link_to "新增訂單" , new_order_path %>
<!-- 連結購物車後刪除 -->
