<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "首頁", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">訂票查詢</li>
  </ol>
</nav>
<div class="container text-center">
  <div class="row d-flex justify-content-evenly">
    <div class="col-12 col-md-7 col-lg-8">
      <div class="container p-3">
        <div class="col text-start">
          <h2>付款成功！購買明細如下： </h2>
        </div>
        <div class="col">
          <div class="container text-center">
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr class="table-secondary">
                    <th scope="col" class="col-2 col-md-3">訂購時間</th>
                    <th scope="col" class="col-7 col-md-6">訂購內容</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p><%= @ticket.created_at.strftime("%Y/%m/%d %I:%M") %></p>
                      <div
                          data-controller="order-cancelbtn"
                          data-id="<%= @ticket.id %>"
                          data-canceled="<%= @ticket.status %>">
                        <p data-order-cancelbtn-target="orderStatus">
                          <%= @ticket.status %>
                        </p>
                      </div>
                    </td>
                    <td class="text-start mx-3">
                      <p>取票序號: <%= @ticket.serial %></p>
                      <p>電影名稱：<%= @ticket.movie_name %></p>
                      <p>影城：<%= @ticket.theater_name %></p>
                      <p>影廳：<%= @ticket.cinema_name %></p>
                      <p>座位：<%= @ticket.seat_list %></p>
                      <p>場次：<%= @ticket.showtime.started_at.strftime("%Y/%m/%d %I:%M") %></p>
                      <div class="d-flex justify-content-between">
                        <p>總計金額: </p>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <%= link_to "訂單列表", orders_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
