<div class="continer vh-100  text-white">
  <div class="d-flex vh-100">
    <%= render "shared/admin/sidebar" %>
    <div class="main flex-grow-1 p-0 ms-1">
      <div class="container container-breadcrumb ">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item">
                  <a href=<%= admin_movies_path %>>後台首頁</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                影廳列表
              </li>
          </ol>
        </nav>
      </div>
      <div class="container">
        <%= link_to "新增影廳", new_admin_cinema_path, class: "btn btn-primary" %>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th scope="col">影廳名稱</th>
              <th scope="col">最大排數</th>
              <th scope="col">最大欄數</th>
              <th scope="col">編輯</th>
              <th scope="col">刪除</th>
              <th scope="col">影廳座位表</th>
            </tr>
          </thead>
          <tbody>
            <% @cinemas.each do |cinema| %>
              <tr>
                <th scope="row"><%= link_to cinema.name, admin_cinema_path(cinema) %></th>
                <td><%= cinema.max_row %></td>
                <td><%= cinema.max_column %></td>
                <td><%= link_to "編輯", edit_admin_cinema_path(cinema) %></td>
                <td><%= link_to "刪除", admin_cinema_path(cinema), method: "delete", data: {confirm: "確定刪除影廳？"} %></td>
                <td><%= link_to "座位表", admin_cinema_seats_path(cinema) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
