<div class="continer vh-100  text-white">
  <div class="d-flex vh-100">
    <%= render "shared/admin/sidebar" %>
    <div class="main flex-grow-1 p-0 ms-1">
      <div class="container container-breadcrumb ">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=<%= admin_movies_path %>>後台首頁</a></li>
            <li class="breadcrumb-item" aria-current="page">
              <a href=<%= admin_theater_cinemas_path(@theater.id) %>>影廳列表</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">新增影廳</li>
          </ol>
        </nav>
      </div>
      <div class="container text-dark">     
        <%= form_with(model: @cinema, url: admin_theater_cinemas_path, method: "post") do |form| %>
          <div class="form-group row">
            <%= form.label :name, "影廳名稱", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.text_field :name, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= form.label :max_row, "最大排數", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.number_field :max_row, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= form.label :max_column, "最大欄數", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.number_field :max_column, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= form.label :regular_price, "一般票價格", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.number_field :regular_price, step: 0.00, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= form.label :concession_price, "優待票價格", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.number_field :concession_price, step: 0.00, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= form.label :disabled_price, "愛心票價格", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.number_field :disabled_price, step: 0.00, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= form.label :elderly_price, "敬老票價格", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.number_field :elderly_price, step: 0.00, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-sm-10">
              <%= form.submit "建立影廳", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
