<div class="continer vh-100  text-white">
  <div class="d-flex vh-100">
    <%= render "shared/admin/sidebar" %>
    <div class="main flex-grow-1 p-0 ms-1">
      <div class="container container-breadcrumb ">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href=<%= admin_movies_path %>>後台首頁</a></li>
          <li class="breadcrumb-item" aria-current="page">
            <a href=<%= admin_theater_cinemas_path(@cinema.theater_id) %>>影廳列表</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">影廳資訊</li>
        </ol>
      </nav>
      </div>
      <div class="container text-dark">
        <h1><%= @cinema.name %></h1>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex">最大排數 : <%= @cinema.max_row %></li>
          <li class="list-group-item d-flex">最大欄數 : <%= @cinema.max_column %></li>
          <li class="list-group-item d-flex">一般票價格 : <%= @cinema.regular_price %></li>
          <li class="list-group-item d-flex">優待票價格 : <%= @cinema.concession_price %></li>
          <li class="list-group-item d-flex">愛心票價格 : <%= @cinema.disabled_price %></li>
          <li class="list-group-item d-flex">敬老票價格 : <%= @cinema.elderly_price %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
