<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href=<%= admin_movies_path %>>後台首頁</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a href=<%= admin_theater_cinemas_path(@cinema.theater_id) %>>影廳列表</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      影廳資訊
    </li>
  </ol>
</nav>
<table>
  <tr>
    <td>影廳名稱</td>
    <td>最大排數</td>
    <td>最大欄數</td>
  </tr>
  <tr>
    <td><%= @cinema.name %></td>
    <td><%= @cinema.max_row %></td>
    <td><%= @cinema.max_column %></td>
  </tr>
</table>
