  <div class="movie-info container-md d-flex px-lg-4p pt-4">
    <div class="col-3 poster me-3 d-none d-sm-block">
      <%= image_tag @showtime.movie.movie_poster, class: "m-auto w-100" %>
    </div>
    <div class="col-9 text flex-grow-1 gap-2">
      <ul class="list-group pb-3">
        <li class="list-group-item ps-0 pt-0 fs-3 title"><%= @showtime.movie.name %></li>
        <li class="list-group-item ps-0 fw-semibold">級別：
          <%= @showtime.movie.film_rating %></li>
        <li class="list-group-item ps-0 fw-semibold">地點：
          <%= @showtime.cinema.theater.name %>-<%= @showtime.cinema.name %>廳</li>
        <li class="list-group-item ps-0 fw-semibold">開演時間：<%= @showtime.started_at.strftime("%Y-%m-%d %I:%M %p") %></li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item ps-0 py-4 fw-semibold">票種：
          <span data-select-ticketing-target="ticketType"></span></li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item ps-0 py-4 fw-semibold">
          總計 <span class="fs-3 fw-semibold" data-select-ticketing-target="allTotal">$0</span>
        </li>
      </ul>
    </div>
  </div>