<div class="container pay">
  <div class="d-flex position-relative">
    <div class="col-12 col-md-9 col-lg-8 col-xl-6 position-absolute img d-none d-md-block">
      <% if @ticket.showtime.movie.movie_poster.attached? %>
        <%= image_tag @ticket.showtime.movie.movie_poster, class: "m-auto w-50  order-img" %>
      <%end%>
    </div>
    <div class="order col-12 col-md-9 col-lg-8 col-xl-6 bg-darkblue rounded-3 shadow mx-auto my-50px">
      <div class="order-title p-3 p-md-5 text-center">
        <h2>確認您的訂單</h2>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">訂購時間</p>
        <p><%= @order.created_at.strftime("%Y/%m/%d %I:%M") %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">訂單序號</p>
        <p><%= @order.serial %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">電影名稱</p>
        <p><%= @ticket.showtime.movie.name %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">影城：</p>
        <p><%= @ticket.showtime.cinema.theater.name %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">影廳：</p>
        <p><%= @ticket.showtime.cinema.name %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 fs-4 d-flex justify-content-between">
        <p class="fw-semibold">座位：</p>
        <p><%= format_seats(@ticket.showtime.cinema.max_column) %></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 pb-3 fs-4 d-flex justify-content-between border-bottom">
        <p class="fw-semibold">場次：</p>
        <p><%= @ticket.showtime.started_at.strftime("%Y/%m/%d %I:%M")%></p>
      </div>
      <div class="order-list mx-sm-5 mx-3 pt-3 fs-4 d-flex justify-content-between align-items-baseline">
        <p class="fw-semibold">總計金額:</p>
        <p class="fs-1">$<%= @order.amount %></p>
      </div>
      <%= form_with(model: @ticket, url: "https://ccore.newebpay.com/MPG/mpg_gateway", method: "post" ) do |f| %>
        <div class="order-list mx-sm-5 mx-3 py-3 fs-4 d-flex justify-content-between">
          <input type="hidden" name="MerchantID" value="<%= @form_info[:MerchantID] %>" readonly>
          <input type="hidden" name="Version" value="2.0" readonly>
          <input type="hidden" name="TradeInfo" value="<%= @form_info[:TradeInfo] %>" readonly>
          <input type="hidden" name="TradeSha" value="<%= @form_info[:TradeSha] %>" readonly>
          <%= link_to "取消訂單", "#", method: "delete", class: "cancel text-deepskyblue rounded-3" %>
          <%=   f.submit"確認購買", class: "submit text-deepskyblue rounded-3"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
