<div class="movie position-relative" data-controller="select-seat" 
     data-notseatlist="<%= @not_seat.seat_list %>" data-maxrow="<%= @cinema.max_row %>" data-maxcolumn="<%= @cinema.max_column %>" data-amount="<%= @quantity %>"  data-usersinged="<%= user_signed_in? %>"  data-showtimeid="<%= @showtime.id %>">
  <%= render "movie_info" %>
  <div class="body">
    <div class="container-md px-lg-4p py-3 d-flex justify-content-between">
      <div class="select-title col-md-3 my-auto">
        <p class="fs-4 fw-light text-md-center mb-0">選取座位</p>
      </div>
         <div class="col-0 col-lg-1"></div>
      <div class="time col-md-4 text-center  my-auto" data-controller="alarm-clock">
        <p class="fs-4 fw-light m-0">剩餘時間<span data-alarm-clock-target="time"></span></p>
      </div>
      <div class="col-5 col-md-4">
        <div class="col-12 col-lg-10 ms-auto text-center my-auto next ticket-next"
           data-action="click->select-seat#checkLogin" data-select-ticketing-target="next"> 
          <p class="fw-light m-0">
            <span data-select-seat-target="nextAmount">
            </span>
          </p>
        </div>
      </div>
    </div>
 
    <%= form_with class: "col-1", data: { select_seat_target: "form" } %>
  </div>
  <div class="select d-flex flex-column align-items-center py-3 px-2">
    <div class="d-flex p-4">
      <div class="seat-inf d-flex p-3">
        <div class="text-dark d-flex align-items-center">正在選取
          <div class="item ms-3 bg-MediumPurple text-MediumPurple"></div>
        </div>
      </div>
      <div class="seat-inf d-flex flex-row flex-sm-column p-3">
        <div class="text-dark d-flex align-items-center">已售出
          <div class="item ms-3 bg-LightRed text-LightRed"></div>
        </div>
      </div>
      <div class="seat-inf d-flex flex-row flex-sm-column p-3">
        <div class="text-dark d-flex align-items-center">您的位置
          <div class="item ms-3 bg-LightCerulean text-LightCerulean"></div>
        </div>
      </div>
    </div>
    <div class="screen text-white">
      Screen
    </div>
    <br>
    <div class="seat w-100 d-flex justify-content-center">
      <div class="seat-grid" data-select-seat-target="seatGrid"></div>
    </div>
  </div>
</div>
