<div class="movie position-relative" data-controller="select-seat" 
     data-notseatlist="<%= @not_seat.seat_list %>" data-maxrow="<%= @cinema.max_row %>" data-maxcolumn="<%= @cinema.max_column %>">
  <%= render "movie_info" %>
  <div class="body">
    <div class="container-md px-lg-4p py-2 d-flex justify-content-between">
      <div class="select-title">
        <p class="fs-4 fw-light m-0 py-2">選取座位</p>
      </div>
      <div class="time" data-controller="alarm-clock">
        <p class="fs-4 fw-light m-0 py-2">剩餘時間<span data-alarm-clock-target="time"></span></p>
      </div>
      <%= link_to ticketing_index_path, 
          class: "col-md-4 col-lg-3 text-center my-auto next",
          data: {select_seat_target: "next"}, 
          method: "post" do %>
        <p class="fw-light m-0">確認訂單</p>
      <% end %>
    </div>
  </div>
  <div class="select d-flex flex-column align-items-center w-100">
    <div class="screen text-white">
      Screen
    </div>
    <br>
    <div>
      <div class="seat-grid" data-select-seat-target="seatGrid"></div>
      <br>
    </div>
  </div>
</div>
