<%= render "shared/nav" %>
<div class="movie position-relative" data-controller="select-ticketing" data-id="<%= @showtime.id %>">
  <div class="movie-info container-md d-flex px-lg-4p pt-4">
    <div class="poster me-3 d-none d-sm-block">
      <img src="https://picsum.photos/seed/picsum/200/300" alt="" />
    </div>
    <div class="text flex-grow-1 gap-2">
      <ul class="list-group pb-3">
        <li class="list-group-item ps-0 pt-0 fs-3 title"><%= @showtime.movie.name %></li>
        <li class="list-group-item ps-0 fw-semibold">級別</li>
        <li class="list-group-item ps-0 fw-semibold">地點
          <%= @showtime.cinema.theater.name %><%= @showtime.cinema.name %>廳</li>
        <li class="list-group-item ps-0 fw-semibold">開演時間<%= @showtime.started_at %></li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item ps-0 py-4 fw-semibold">票種
          <span data-select-ticketing-target="ticketType"></span></li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item ps-0 py-4 fw-semibold">
          總計 <span class="fs-3 fw-semibold" data-select-ticketing-target="allTotal">$0</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="body">
    <div class="container-md px-lg-4p my-3 d-flex justify-content-between">
      <div class="select-title">
        <p class="fs-4 fw-light m-0 py-2">選取票種</p>
      </div>
      <%= link_to select_seats_ticketing_index_path, 
          class: "col-md-4 col-lg-3 text-center my-auto next",
          data: {select_ticketing_target: "next"}  do %>
        <p class="fw-light m-0">以選取<span data-select-ticketing-target="allAmount">
          </span>張票，開始選位</p>
      <% end %>
    </div>
  </div>
  <div class="container-md ticket px-lg-4p px-0">
    <div class="d-flex p-3 justify-content-around title">
      <div class="col-6 col-md-9">
        <div class="fw-bold px-2">票種</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center">單價</div>
        <div class="col-4 fw-bold text-center">數量</div>
        <div class="col-4 fw-bold text-center">小計</div>
      </div>
    </div>
    <div class="d-flex p-3 justify-content-around item">
      <div class="col-6 col-md-9">
        <div class="fw-bold p-2">全票</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center p-2 price">$123</div>
        <div class="col-4 fw-bold text-center" >
          <select class="select" data-action="change->select-ticketing#select"
            data-select-ticketing-target="amount regularAmount">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-4 fw-bold text-center p-2 total" data-select-ticketing-target="total">0</div>
      </div>
    </div>
    <div class="d-flex p-3 justify-content-around item">
      <div class="col-6 col-md-9">
        <div class="fw-bold p-2">優待票</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center p-2 price">$123</div>
        <div class="col-4 fw-bold text-center" >
          <select class="select" data-action="change->select-ticketing#select"
            data-select-ticketing-target="amount concessionAmount">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-4 fw-bold text-center p-2 total" data-select-ticketing-target="total">0</div>
      </div>
    </div>
    <div class="d-flex p-3 justify-content-around item">
      <div class="col-6 col-md-9">
        <div class="fw-bold p-2">敬老票</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center p-2 price">$123</div>
        <div class="col-4 fw-bold text-center" >
          <select class="select" data-action="change->select-ticketing#select"
            data-select-ticketing-target="amount elderlyAmount">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-4 fw-bold text-center p-2 total" data-select-ticketing-target="total">0</div>
      </div>
    </div>
    <div class="d-flex p-3 justify-content-around item">
      <div class="col-6 col-md-9">
        <div class="fw-bold p-2">愛心票</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center p-2 price">$123</div>
        <div class="col-4 fw-bold text-center" >
          <select class="select" data-action="change->select-ticketing#select"
            data-select-ticketing-target="amount disabilityAmount">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-4 fw-bold text-center p-2 total" data-select-ticketing-target="total">0</div>
      </div>
    </div>
  </div>
</div>
