<div class="movie position-relative" data-controller="select-ticketing" data-id="<%= @showtime.id %>">
  <%= render "movie_info" %>
  <div class="body">
    <div class="container-md px-lg-4p my-3 d-flex justify-content-between">
      <div class="select-title my-auto col-6">
        <p class="fs-4 fw-light m-0 py-2">選取票種</p>
      </div>
      <div class="col-6 col-md-5 col-lg-4 col-xl-3 text-center my-auto d-none next ticket-next"
           data-action="click->select-ticketing#submit" data-select-ticketing-target="next"> 
        <p class="fw-light m-0">
          <span>
            <span data-select-ticketing-target="nextAmount"></span>
            <span class="d-block d-sm-inline">開始選位<i class="fa-solid fa-chevron-right"></i></span>
          </span>
        </p>
      </div>
    </div>
    <%= form_with class: "d-none", data: { select_ticketing_target: "form" } %>
  </div>
  <div class="container-md ticket px-lg-4p px-0">
    <div class="d-flex p-3 justify-content-around title">
      <div class="col-6 col-md-9">
        <div class="fw-bold px-2">票種</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center">單價</div>
        <div class="col-4 fw-bold text-center">數量</div>
        <div class="col-4 fw-bold text-center">小計</div>
      </div>
    </div>
    <div class="d-flex p-3 justify-content-around item">
      <div class="col-6 col-md-9">
        <div class="fw-bold p-2">全票</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center p-2 price">$<%= @showtime.cinema.regular_price %></div>
        <div class="col-4 fw-bold text-center" >
          <select class="select" data-action="change->select-ticketing#select"
            data-select-ticketing-target="amount regularAmount">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-4 fw-bold text-center p-2 total" data-select-ticketing-target="total">0</div>
      </div>
    </div>
    <div class="d-flex p-3 justify-content-around item">
      <div class="col-6 col-md-9">
        <div class="fw-bold p-2">優待票</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center p-2 price">$<%= @showtime.cinema.concession_price %></div>
        <div class="col-4 fw-bold text-center" >
          <select class="select" data-action="change->select-ticketing#select"
            data-select-ticketing-target="amount concessionAmount">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-4 fw-bold text-center p-2 total" data-select-ticketing-target="total">0</div>
      </div>
    </div>
    <div class="d-flex p-3 justify-content-around item">
      <div class="col-6 col-md-9">
        <div class="fw-bold p-2">敬老票</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center p-2 price">$<%= @showtime.cinema.elderly_price %></div>
        <div class="col-4 fw-bold text-center" >
          <select class="select" data-action="change->select-ticketing#select"
            data-select-ticketing-target="amount elderlyAmount">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-4 fw-bold text-center p-2 total" data-select-ticketing-target="total">0</div>
      </div>
    </div>
    <div class="d-flex p-3 justify-content-around item">
      <div class="col-6 col-md-9">
        <div class="fw-bold p-2">愛心票</div>
      </div>
      <div class="col-6 col-md-3 d-flex">
        <div class="col-4 fw-bold text-center p-2 price">$<%= @showtime.cinema.disability_price %></div>
        <div class="col-4 fw-bold text-center" >
          <select class="select" data-action="change->select-ticketing#select"
            data-select-ticketing-target="amount disabilityAmount">
            <option selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-4 fw-bold text-center p-2 total" data-select-ticketing-target="total">0</div>
      </div>
    </div>
  </div>
</div>
