<div class="container my-3">
  <table class="table table-striped">
    <thead class=" text-bg-slategray">
      <tr>
        <th scope="col" class="col-1">序號</th>
        <th scope="col" class="col-1">操作</th>
        <th scope="col" class="col-1"></th>
        <th scope="col" class="col-2">身份</th>
        <th scope="col" class="col-3">使用者姓名</th>
        <th scope="col" class="col-4">信箱</th>
      </tr>
    </thead>
    <% users.each do |user| %>
      <tbody>
        <tr>
          <td> <%= user.id %></td>
          <td> <%= link_to "編輯" , edit_admin_user_path(user) %></td>
          <td> <%= link_to "刪除" , user_registration_path(user),method:"delete",data:{confirm:"確定刪除？"} %></td>
          <td> <%= User.human_attribute_name("role.#{user.role}") %></td>
          <td> <%= user.name %></td>
          <td> <%= user.email %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
