  
<div class="container w-50 py-5 text-center">
  <h2 class="text-center py-5">修改會員資料</h2>
  <section class="w-75 mx-auto">
    <%= form_with(model: @user, url: admin_user_path, method:"patch") do |f| %>
      <div class="my-3">
        <div>
          <%= f.label :name, "您的姓名", class: "form-label" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control text-center" %>
        </div>
        <div class="my-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control text-center" %>
        </div>
        <div class="my-3">
          <%= f.label :role, "使用者身份", class: "form-label" %>
          <%= f.select :role, options_for_select(User.roles.keys, @user.role), {}, class: "form-select text-center" %>
        </div>
        <div class="actions mb-5">
          <%= f.submit("修改", class: "btn btn-md btn-outline-primary") %>
        </div>
      <% end %>
    </section>
    <div class="d-flex justify-content-center">
      <%= link_to "回列表", admin_users_path, class: "btn btn-lg search-bottom"%>
    </div>
  </div>
