<div class="sidebar p-4 bg-slategray">
  <div class="position-sticky">
    <h3 class="text-white">系統首頁</h3>
    <ul class="list-group list-group-flush py-4">
      <li class="list-group-item m-0 p-0 bg-slategray"><%= link_to "電影管理", admin_movies_path,
          class:"p-3 my-1 d-block text-center" %></li>
      <li class="list-group-item m-0 p-0 bg-slategray"><%= link_to "影城管理", admin_theaters_path,
          class:"p-3 my-1 d-block text-center"%></li>
      <li class="list-group-item m-0 p-0 bg-slategray"><%= link_to "消息管理", admin_news_index_path,
          class:"p-3 my-1 d-block text-center" %></li>
      <li class="list-group-item m-0 p-0 bg-slategray"><%= link_to "訂單管理", admin_orders_path,
          class:"p-3 my-1 d-block text-center" %></li>
      <% if current_user.admin? %>
        <li class="list-group-item m-0 p-0 bg-slategray"><%= link_to "Sidekiq", sidekiq_web_path, 
          class: "p-3 my-1 d-block text-center" %></li>
        <li class="list-group-item m-0 p-0 bg-slategray"><%= link_to "人員管理", admin_users_path, 
          class: "p-3 my-1 d-block text-center" %></li>
      <% end %>
      <li class="list-group-item m-0 p-0 bg-slategray"><%= link_to "網站首頁", root_path,
          class:"p-3 my-1 d-block text-center text-info " %></li>
    </ul>
  </div>
</div>
