<% if @theater.exterior_img.attached? %>
  <%= image_tag @theater.exterior_img, class: "img-fluid w-100" %>
<% end %>
<div class="front-breadcrumb bg-Silver">
  <nav class="container px-lg-4p" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb my-0">
      <li class="breadcrumb-item"><%= link_to "首頁", root_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item" ><%= link_to "影城介紹", theaters_path, class: "text-muted"  %></li>
      <li class="breadcrumb-item active text-deepskyblue" aria-current="page"><%= @theater.name %></li>
    </ol>
  </nav>
</div>
<div class="container px-lg-4p pt-5">
  <section class="py-2">
    <h2 class="text-deepskyblue">影城簡介</h2>
    <article>
      <%= @theater.description %>
    </article>
  </section>
</div>
<div class="bg-Silver">
  <section class="container px-lg-4p py-5">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h2 class="text-deepskyblue">交通資訊</h2>
        <section class="py-2">
          <h3 class="fs-5">地址： <%= @theater.address %> </h3>
          <% unless @theater.transportation.nil? %>
            <h3 class="fs-5">交通方式：</h3>
            <article class="fs-6">
              <%= @theater.transportation %>
            </article>
          <% end %>
        </section>
      </div>
      <div class="col-12 col-lg-6">
        <iframe
          width="100%"
          height="250"
          frameborder="0" style="border:0"
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAP_KEY'] %>&q=<%= @theater.address %>&zoom=16"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </section>
</div>
<div class="container px-lg-4p py-5">
  <section class="pb-5">
    <%= render "showtime_table" %>
  </section>
</div>
<section class="text-center pb-3">
  <span class="my-2 py-1 px-4">
    <%= link_to "回影城列表", theaters_path, class: "btn btn-cerulean-confirm btn-lg " %>
  </span>
</section>
</div>
