<h1>影城據點列表</h1>

<table>
  <tr>
    <td>影城名稱</td>
    <td>編輯影城</td>
    <td>刪除影城</td>
  </tr>

  <% @theaters.each do |theater| %>
  <tr>
    <td><%= link_to theater.name, admin_theater_path(theater) %></td>
    <td><%= link_to "編輯", edit_admin_theater_path(theater) %></td>
    <td><%= link_to "刪除", admin_theater_path(theater), method: "delete", data: {confirm: "確定刪除影城？"} %></td>
  </tr>
  <% end %>
</table>

<br>
<%= link_to "新增影城", new_admin_theater_path %> 
<br>
<%= link_to "回首頁", root_path %>