<div class="continer vh-100  text-white">
  <div class="d-flex vh-100">
    <%= render "shared/admin/sidebar" %>
    <div class="main flex-grow-1 p-0 ms-1">
      <div class="container container-breadcrumb ">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", admin_theaters_path %></li>
            <li class="breadcrumb-item active" aria-current="page">Theater list</li>
          </ol>
        </nav>
      </div>
      <div class="container">
        <%= link_to "新增影城", new_admin_theater_path, class: "btn btn-primary" %>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th scope="col">戲院名稱</th>
              <th scope="col">編輯戲院</th>
              <th scope="col">查看影廳</th>
              <th scope="col">最後編輯者ID</th>
              <th scope="col">建立者ID</th>
              <th scope="col">電話</th>
              <th scope="col">地址</th>
            </tr>
          </thead>
          <% @theaters.each do |theater| %>
            <tbody>
              <tr>
                <th scope="row"><%= link_to theater.name, admin_theater_path(theater) %></th>
                <th scope="row"><%= link_to "編輯", edit_admin_theater_path(theater) %></th>
                <td><%= link_to "查看影廳", admin_theater_cinemas_path(theater) %></td>
                <td>123</td>
                <td><%= theater.id %></td>
                <td><%= theater.phone %></td>
                <td><%= theater.address%></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
