<div class="main flex-grow-1 p-0 ms-1">
  <div class="container container-breadcrumb ">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "後台首頁", admin_movies_path %></li>
        <li class="breadcrumb-item" aria-current="page">
          <%= link_to "影城列表", admin_theaters_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">新增影城</li>
      </ol>
    </nav>
  </div>
  <div class="container text-dark">
    <% if @theater.errors.any? %>
      <ul>
        <% @theater.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    <% end%>
    <%= form_with(model: @theater, url: admin_theaters_path, method: "post") do |form| %>
      <div class="form-group row d-flex theater-form">
        <div class="input-group d-flex my-3">
          <%= form.label :name, "戲院名稱", class: "input-group-text" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="input-group d-flex my-3">
          <%= form.label :area, "戲院地區", class: "input-group-text" %>
          <%= form.select :area, options_for_select(human_attribute_areas, @theater.area), {}, class:"form-select" %>
        </div>
        <div class="input-group d-flex my-3">
          <%= form.label :address, "戲院地址", class: "input-group-text" %>
          <%= form.text_field :address, class: "form-control" %>
        </div>
        <div class="input-group d-flex my-3">
          <%= form.label :phone, "連絡電話", class: "input-group-text" %>
          <%= form.text_field :phone, class: "form-control" %>
        </div>
        <div>
          <%= form.label "上傳圖片", for: "theater_exterior_img", class: "input-group d-none" %>
          <%= form.file_field :exterior_img %>
        </div>
        <div class="input-group d-flex my-4 justify-content-start">
          <%= form.submit "修改影城資訊", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
