<div class="continer vh-100  text-white">
  <div class="d-flex vh-100">
    <%= render "shared/admin/sidebar" %>
    <div class="main flex-grow-1 p-0 ms-1">
      <div class="container container-breadcrumb ">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "後台首頁", admin_movies_path %></li>
            <li class="breadcrumb-item" aria-current="page">
              <%= link_to "電影院列表", admin_theaters_path %>
            </li>
            <li class="breadcrumb-item active" aria-current="page">新增電影院</li>
          </ol>
        </nav>
      </div>
      <div class="container text-dark">
        <% if @theater.errors.any? %>
          <ul>
            <% @theater.errors.full_messages.each do |message| %>
              <li> <%= message %> </li>
            <% end %>
          </ul>
        <% end%>
      
        <%= form_with(model: @theater, url:admin_theaters_path, method: "post") do |form| %>
          <div class="form-group row">
            <%= form.label :exterior_img, "戲院照片" %>
            <%= form.file_field :exterior_img, class: "form-control-file" %>
          </div>
          <br>
          <div class="form-group row">
            <%= form.label :name, "戲院名稱", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.text_field :name, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= form.label :address, "戲院地址", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.text_field :address, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <%= form.label :phone, "連絡電話", class: "col-sm-1 col-form-label" %>
            <div class="col-sm-11">
              <%= form.text_field :phone, class: "form-control" %>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <div class="col-sm-10">
              <%= form.submit "送出", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
