<h1>變更使用者資料</h1>

<%= form_with(model: @user ,url: user_management_path) do |form| %>

   <div>
    <%= form.label :role %>
    <%= form.text_field :role %>
    <p>role: [:user , :staff , :admin]</p> 
  </div>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>

<%= form.submit %>

<% end %>