<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Cinema</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
  </head>
  <body>
    <%= render "shared/flash" %>
    <div class="continer">
      <div class="d-flex">
        <%= render "shared/admin/sidebar" %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
