<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Cinema</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/flash" %>
    <%= render "shared/nav" %>
    <%= yield %>
    <footer class="bg-cerulean text-center py-4 mt-5 text-white"> 僅供 ASTRO CAMP demo day 使用</footer>
  </body>
</html>
